<h1>All Houses</h1>

<% House.all.each do |house| %>
<li><a href="/kids/<%= house.id %>"><%= house.address %></a></li>
    Unclaimed Candy:<br>
    <% house.unclaimed_candies.each do |candy| %>
      <%= candy.name %><br>
    <% end %>
    <br>
<% end %>