<h1>Welcome to Halloween</h1>
<h2>The greatest holiday</h2>

<img src="http://cartoonpumpkin.jpg.to" alt="pumpkin"><br>

<a href="/kids/new">New Kid</a>
<a href="/kids/index">Kid Index</a>
<a href="/houses/index">House Index</a>
